<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azeem | Home</title>
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="icon" type="image/x-icon" sizes="200x200" href="Images/Favicon.png">
</head>

<body id="HomePage">
    <!-- <span class="onloadShow displayNone">
        <div class="one round"></div>
        <div class="two round"></div>
        <div class="three round"></div>
    </span> -->
    <%- include('./partials/onLoad') %>
        <span class="contact">
            <img id="contact-image" src="../Images/formImage2.png" alt="form-image">
            <form action="/" method="post">
                <h1>Contact Me</h1>
                <div class="closeForm">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="contactform">
                    <input required type="text" name="name" placeholder="Enter Your Name">
                </div>
                <div class="contactform">
                    <input required type="email" name="email" placeholder="Enter Your Email">
                </div>
                <div class="contactform">
                    <textarea required name="message" placeholder="Enter Your Message" id="message" cols="30"
                        rows="10"></textarea>
                </div>
                <div class="submit">
                    <input value="SUBMIT" type="submit" class="submitButton">
                </div>
            </form>
        </span>
        <div class="totalContainer displayNone">
            <%- include('./partials/mouse') %>
                <%- include('./partials/header') %>
                    <section id="Home">
                        <div class="boyImage">
                            <img src="Images/try2.jpg" alt="">
                        </div>
                        <div class="Name">
                            <div class="hey">
                                <div class="doin">H</div>
                                <div class="doin">E</div>
                                <div class="doin">Y</div>
                                <div class="doin">,</div>
                            </div>
                            <div class="azeem">
                                <div class="doin">I</div>
                                <div class="doin">'</div>
                                <div class="doin">M</div>
                                <div class="doin">&nbsp;</div>
                                <div class="doin">A</div>
                                <div class="doin">Z</div>
                                <div class="doin">E</div>
                                <div class="doin">E</div>
                                <div class="doin">M</div>
                                <div class="doin">&nbsp;</div>
                                <div class="shaik">
                                    <div class="doin">S</div>
                                    <div class="doin">H</div>
                                    <div class="doin">A</div>
                                    <div class="doin">I</div>
                                    <div class="doin">K</div>
                                    <div class="doin">.</div>
                                </div>
                            </div>
                            <div class="am">
                                <p data-text="introduction">Welcome To My Digital Home! As A Computer Science Student, I
                                    am
                                    Excited
                                    To Share My Passion For Creating Innovative Digital Solutions With You. Take A Look
                                    At
                                    My
                                    Projects And Accomplishments,I invite you to take a look at my portfolio and learn
                                    more
                                    about my
                                    skills and expertise.

                                </p>
                            </div>
                            <div class="slidingButton">
                                <buttton class="contactMe" onclick="showForm()">
                                    CONTACT ME!
                                </buttton>
                            </div>
                        </div>
                        <%- include('./partials/social') %>
                    </section>
                    <%- include('./partials/footer') %>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"
            integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/7f2a891619.js" crossorigin="anonymous"></script>
        <script src="JS/static.js"></script>
</body>

</html>