<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azeem | Skills</title>
    <link rel="stylesheet" href="CSS/skills.css">
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="icon" type="image/x-icon" sizes="200x200" href="Images/Favicon.png">
    <style>

    </style>
</head>

<body id="SkillsPage">
    <%- include('./partials/mouse') %>
        <%- include('./partials/onLoad') %>

            <div class="totalContainer displayNone">
                <%- include('./partials/header') %>
                    <section id="Skills">
                        <div class="adjust">
                            <div class="bgskillImage">
                                <img src="Images/try4.jpg" alt="">
                            </div>
                            <div class="heading">
                                <button class="skillButton" onclick="openSkillDescription()">MY SKILLS</button>
                            </div>
                            <div class="alternateDivs">
                                <div class="skilldescription">
                                    <p>I’ve developed a diverse set of skills through my studies, personal projects, and
                                        work experiences. I’m comfortable with
                                        programming languages such as Java, Python, and web development tools like HTML,
                                        CSS, and JavaScript. I also have
                                        experience with the MERN stack (MongoDB, Express.js, React.js, Node.js), which
                                        I’ve applied in various projects.


                                    </p>
                                    <p>
                                        Beyond technical skills, I excel in collaborating with others and explaining
                                        concepts clearly. I enjoy teamwork and can
                                        simplify complex ideas for better understanding. I’m a quick learner, adaptable
                                        to new technologies and situations.


                                    </p>
                                    <p>
                                        In summary, I’m confident in my current skills and enthusiastic about continued
                                        learning and growth.
                                    </p>
                                </div>
                                <div class="iconshead">
                                    <div class="icons">
                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="html">
                                                <img src="Images/html.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill html">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="css">
                                                <img src="Images/css.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill css">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="react">
                                                <img src="Images/reactjs.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill react">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="python">
                                                <img src="Images/python.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill python">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="js">
                                                <img src="Images/javascript.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill js">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="nodejs">
                                                <img src="Images/NodeJS.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill nodejs">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="mongodb">
                                                <img src="Images/MongoDB.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill mongodb">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="java">
                                                <img src="Images/java.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill java">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="bootstrap">
                                                <img src="Images/bootstrap.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill bootstrap">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="git">
                                                <img src="Images/Git.webp" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill git">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="jquery">
                                                <img src="Images/jquery.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill jquery">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="cpp">
                                                <img src="Images/c.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill cpp">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="c">
                                                <img src="Images/cpp.png" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill c">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconImagesHead">
                                            <div class="iconImages" id="redis">
                                                <img src="Images/Redis.webp" alt="">
                                            </div>
                                            <div class="rating">
                                                <div class="ratingFill redis">

                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <%- include('./partials/social') %>
                    </section>
                    <%- include('./partials/footer') %>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"
                integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
            <script src="https://kit.fontawesome.com/7f2a891619.js" crossorigin="anonymous"></script>
            <script src="JS/static.js"></script>
</body>

</html>